body { 
    margin: 0;
    font-family: 'Caprasimo', cursive;
    background: url('../Png/AlunoSaidaProfessor.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(69, 55, 108);
  }

#container-tabela {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(253, 230, 201);
    position: absolute;
    top: 120px;
    left: 1000px;
    width: 750px;
    border-radius: 25px;
    border: 2px solid rgb(69, 55, 108);
    box-shadow: 3px 3px 8px rgba(69, 55, 108, 0.3);
   
  }
  #container-tabela h2 {
    font-family: 'Caprasimo', cursive;
    font-size: 40px;
    color: rgb(69, 55, 108);
    margin-bottom: 30px;
  }

  #container-tabela table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Caprasimo', cursive;
    font-size: 22px;
    color: rgb(69, 55, 108);
  }
  
  #container-tabela thead th {
    background-color: rgb(122, 182, 109);
    color: rgb(255, 227, 191);
    padding: 12px;
    text-align: center;
    border: 2px solid rgb(69, 55, 108);
  }
  
  #container-tabela td {
    padding: 10px;
    border: 1px solid rgb(143, 189, 106);
    text-align: center;
  }
  
  nav {
    background-color: rgb(143, 189, 106); 
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 20px 0;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(69, 55, 108);
    font-size: 24px;
    padding: 8px 20px;
    border-radius: 20px;
    display: inline-block; 
  }
  
  nav a.ativo {
    background-color: rgb(255, 227, 191);
    border: 2px solid rgb(69, 55, 108);
    box-shadow: 2px 2px 0 rgb(69, 55, 108);
  }  
  
  #conteudo {
    padding: 90px;
  }
  
  h1 {
    font-size: 100px;
    margin: 0;
  }
  
  #grid-botoes {
    display: flex;
    gap: 70px;
  }
  
  #coluna-esquerda,
  #coluna-direita {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  #voltar {
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 40px;
    padding: 14px 28px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid rgb(69, 55, 108);
    background-color: rgb(135, 159, 198);
    color: rgb(69, 55, 108);
    cursor: pointer;
    min-width: 180px;
    text-decoration: none;
    box-shadow: 2px 2px 0 rgba(69, 55, 108, 0.5);
  }
  